<div class="datagrid">

      <p>Thanks for being a part of Whether the Weather! Where together our collective ailments will help
        everyone stay on top of the latest weather conditions. While the connection between arthritis/joint pain is not fully understood, studies have indicated
        that both a drop in temperature, as well as in barometric pressure and precipitation can exacerbate joint pain. This may be due to
        a swelling in the joint capsule. With our collective joint pain, we can keep each other in the loop when we suspect there may be inclement weather on the horizon.
        <br><br>
        <a href="http://www.weather.com/health/news/why-your-joints-hurt-when-weather-changes-20141105">Blame the barometric pressure!</a>
        <%= image_tag "https://m.popkey.co/def555/yZ7eO.gif", class: "full-width" %>
      </p>
        <br>

      <br>

</div>

<%=@place%>
<%=@weather%>
<%=@atmosphere%>
