<h1>Welcome to Whether the Weather<%#= ", #{current_user.email}"%>!</h1>
<div class="row">

  <div class="col-md-8">
    <div class="media">
      <%= link_to 'Weather Notifications', posts_path %>
      <p>Thanks for being a part of whether the weather! Where together our collective ailments will help
        everyone stay on top of the latest weather conditions :)</p>
    </div>
  </div>
<%= image_tag "http://45.media.tumblr.com/tumblr_lslzhnzZBB1r2mheeo1_500.gif", class: "full-width" %>

</div>
