
<%= form_for Label.new do |f| %>
  <div class="form-group">
    <%= f.label :labels %>
    <%= select_tag "labels", "<option>Shine</option><option>Cloudy</option><option>Drizzle</option><option>Rain</option><option>Imminent Downpour</option>".html_safe, multiple: false%>
  </div>
<% end %>
