<div class="media">
  <div class="media-body">
    <small>
      <%= @comment.user_name %> commented <%= time_ago_in_words(comment.created_at) %> ago

        <%= link_to "Delete", [@post, comment], method: :delete %>

    </small>
    <p><%= comment.body %></p>

    <h3>
      <% if current_user %>
        <%#= render partial: 'likes/like', locals: { comment: comment } %>
      <% end %>
    </h3>
  </div>
</div>
